{{>layouts/header}}
<br/>
<br/>
<br/>
<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">제목</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">내용</label>
        <textarea type="password" name="content" class="form-control" id="exampleInputPassword1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">제출</button>
</form>
{{>layouts/footer}}
